canvas#canvas

//Just a hint thing
label(for="hint") Hint (click to hide/show)
input#hint(type="checkbox" name="hint" value="Hint")
div
	p Left Click - add one point
	p Right Click - remove last point